[Desktop Entry]
Name=ChangeProxy
GenericName=ChangeProxy
Comment=Some description about your script
Exec=/root/scripts/changeProxyStartup.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
