[Desktop Entry]
Name=proxyChange
GenericName=proxyChange
Comment=Some description about your script
Exec=/usr/bin/proxyChangeStartup.sh
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
